.welcome-header {
  margin-top: 90px;
  text-align: center;
  display: flex;
  flex-direction: column; /* main axis to vertical */
  align-items: center;
  /* font-weight: 600;  */ /* too thick */
}
.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}
.welcome-header__text {
  width: 70%;
  justify-content: center;
  opacity: 0.7;
  margin-bottom: 90px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
.login-form__input {
  padding: 15px 0px;
  border: none;
  font-size: 18px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}
.login-form__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.login-form__input:focus {
  border-color: var(--yellow);
}
.login-form__btn {
  border: none;
  margin-bottom: 25px;
  background-color: var(--yellow);
  cursor: pointer;
  /* cursor: not-allowed; */
  /* cursor: progress; */
  font-size: 16px;
  padding: 20px 0px;
  border-radius: 8px;
}
.login-form__a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}
