.badge {
  background-color: tomato;
  color: white;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.badge--no-number {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  /* position: absolute;
  left: 30px;
  bottom: 28px; */
}
