.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);

  position: fixed;
  bottom: 0;

  width: 100%;

  box-sizing: border-box; /* Blocks the box go out of bounds */
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__btn {
}
.nav__link {
  position: relative;
  color: #2e363e;
}
.nav__notification-chat {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__notification-more {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  bottom: 30px;
}
