.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-top: 30px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__icons span:last-child {
  position: relative;
}

.screen-header__icons span .badge--no-number {
  position: absolute;
  left: -5px;
  bottom: 25px;
}
